{% extends "index.html" %}

{% block page_content %}
<div class="container-fluid">
      <h1 class="display-4">Send email</h1>

        <form method="post" action="/{{ user.key.id() }}/sent">
            <p>Subject:</p>
            <input name="email_title" value="{{ message.title }}">
            <p>Message text:</p>
            <input name="message_text" value="{{ message.message_text }}"> <br>
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
</div>
{% endblock page_content %}